
*{
    margin: 0px auto;
    padding: 0px;
    box-sizing: border-box;

}
body{
     
    overflow-x: hidden;
}

.navbar{
   background-color: #900c19;
   padding-bottom: 50px;
   
}
.nav ul{
    display: flex;
    margin-top: -100px;
    color: white;
    padding-left: 400px;
    padding: -5px;
    padding-right: 200px;
    font-weight: 600;
    font-family: arial;
    font-size: 15px;
     
     
}
.menu img{
    margin-top: 0px;
}
.pic img{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.pic h1{
    display: flex;
    justify-content: center;
   border-style: dashed;
   padding: 15px;
   border-color: goldenrod;
   margin: 30px 100px ;
   font-family: serif ;
   color: #831d22;
   border-radius: 30px;
}
.match{
    display:flex;
   padding: 0px 100px 0px 100px;
   margin-top: -19px;
   
}
.more h2{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #900c19;

}
.more img{
    border-bottom-left-radius: 20%;
    border-top-right-radius: 20%;
}
.bottom{
    height: 400px;
    width: 100%;
    background-color: #fffae7;
    margin-top: -30px;
}
 .bottom h1{
    position: relative;
    left: 350px;
    top: 150px;
    color: #900c19;
    font-family: serif;
    font-size: 3rem;
 }
 .bottom img{
    position: relative;
    left: 1000px;
    top: 90px;
 }
 .bottom p{
    position: relative;
    left: 440px;
    top: 220px;
    font-size: 2rem;
    font-weight: 800;
    color: #900c19;
 }
 .footer{
    height: 200px;
    width: 100%;
   background-color: #341324;
}
.footer img{
 margin-top: 30px;
 margin-left: 100px;
}
.footer p{
    font-size: 17px;
    color: whitesmoke;
    margin-top:-100px;
    margin-left: 400px;
}
.fon{
    display: flex;
    gap: 30px;
    position: absolute;
    left: 850px;
    margin-top: -20px;
    }
    .footer ul{
        display: block;
         float: right;
         margin: -50px -10px -100px 10px;
    }
    .footer ul li{
       padding-top: 10px;
       font-size: 14px;
       color: whitesmoke;
    }
 